img {
    /* height: 30%;
    width: 30%; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 10px 20px;
    transition: all 1s ease;
}

img:hover {
    background-color: rgba(184, 184, 184, 0.184);
    padding: 5%;
}

.imgs-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

video {
    width: 100%;
}

.video-box {
    box-sizing: content-box;
    padding: 25px;
}